beautifulsoup4>=4.12,<5
dash>=2.16,<4
dash_bootstrap_components>=1.5,<2
dash_daq>=0.5,<1
degiroapi>=0.9.5,<1.0
matplotlib>=3.8,<4
numpy>=1.26,<3
pandas>=2.2,<3
pandas_datareader>=0.10,<1
plotly>=5.18,<6
requests>=2.31,<3
scipy>=1.11,<2
statsmodels>=0.14,<1
